---
title: Blitz - Trouvez votre médecin
---

<div id="home">
  <div class="home-content">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/computer-1149148_1920.jpg');">
      <div class="banner-content">
        <h1>Blitz</h1>
        <p>Trouvez votre médecin en 1 clic</p>
        <a class="btn btn-primary btn-lg">Trouvez votre RDV</a>
        <a class="btn btn-danger btn-lg">Vous êtes médecin</a>
      </div>
    </div>
    <div class="infos">
      <div class="row">
        <div class="col-md-4 col-xs-12 info">
          <p>hello</p>
        </div>
        <div class="col-md-4 col-xs-12 info">
          <p>hello</p>
        </div>
        <div class="col-md-4 col-xs-12 info">
          <p>hello</p>
        </div>
      </div>
    </div>
  </div>
</div>
